.home {
  div.logo{
      border: 2px solid #e74c3c;
      width: 120px;
      height: 120px;
      margin: 15vh auto 0 auto;
       border-radius: 100%;
       color: #e74c3c;
  }
  
  div h1.logo-text{
      text-align: center;
      position: relative;
      top: 20px;
  }
  
 
  
  div.button-group{
    margin-top: 20vh
  }
  
  div.button-group button{
      display: block;
      margin: 15px auto;
      width: 70%;
      
  }
  
   div.footer{
          text-align: center;
    margin-top: 22vh;
  }
  
  div.footer a{
    font-size: 12px;
  }
}
