.home {
  background-color: #3498db;
  
  
  div.logo{
      border: 2px solid #ecf0f1;
      width: 120px;
      height: 120px;
      margin: 15vh auto 0 auto;
       border-radius: 100%;
       color: #ecf0f1;
  }
  
  div h1.logo-text{
      text-align: center;
      position: relative;
      top: 20px;
  }
  
 div.button-group .get-started{
    color: #ecf0f1;
    font-size: 12px;
    position: relative;
    left: 54px;
    top: 9px;
    font-weight: lighter;
 }
  
  div.button-group{
    margin-top: 20vh
  }
  
  div.button-group button{
      display: block;
      margin: 15px auto;
      width: 70%;
      
  }
  
   div.footer{
   text-align: center;
    margin-top: 18vh;
  }
  
  div.footer a{
    font-weight: lighter;
    color: white;
    font-size: 12px;
  }
  
   div.footer a.firstLink{
   padding: 0 10% 0 0;
  }
}
